# IDE / Android Studio
.idea/
*.iml
local.properties

# Gradle & Build Outputs
.gradle/
build/
**/build/
*.apk
*.aab
*.aar
captures/

# Security / Signing Keys
*.jks
*.keystore
key.properties
signing.properties

# Kotlin & KMP Cache
.kotlin/

# OS Files
.DS_Store
Thumbs.db